body {
  position: relative;
}


.personal-details h3 {
  margin-bottom: 0.7em;
}
 
.personal-payment-details {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  height: 600px;
  margin-left: 1em;
  border: 2px solid #000;
  padding: 1em;
  margin-top: 2em;
  background-color: #778da9;
  margin-bottom: 4em;
}

.personal-details {
  width: 50%;
  margin: 10px;
}

.personal-details label {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
}

.personal-details input {
  width: 70%;
  font-size: 12px;
  padding: 7px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 1em;
}


.personal-details i {
  font-size: small;
  margin: 10px 0;
}

.payment-details {
  width: 50%;
}
.payment-details h3 {
  margin-top: 0.5em;
}

.payment-details label {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 400;
}

.payment-details input {
  width: 70%;
  font-size: 12px;
  padding: 7px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 1em;

}

.icon-container {
  font-size: 30px;
}

.order-products-page {
  width: 43%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  height: 300px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50px;
  top: 132px;
}


.order-products-page thead tr {
  background-color: #778da9;
  color: #fff;
  text-align: center;
}

.order-products-page th,
.order-products-page td {
  padding: 12px 12px;
}

@media (max-width: 800px) {
  .order-products-page {
    position: initial;
    margin: 1em 1em 2em 2em;
    width: 80%;
  }

  .personal-payment-details {
    margin: 1em 1em 2em 2em;
    width: 85%;
  }

  .col-1 {
    margin-top: 12em;
  }

 
}
